<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37001480729-3f5j2sijrmupe5v6680jsamskevg1pke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37001480729-3f5j2sijrmupe5v6680jsamskevg1pke</string>
	<key>API_KEY</key>
	<string>AIzaSyCDmDPNBoTZ3a2jKx08SAB_UmF-KSFqMA8</string>
	<key>GCM_SENDER_ID</key>
	<string>37001480729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shaurya0108.icloudauthapp</string>
	<key>PROJECT_ID</key>
	<string>signup-app-unnamed</string>
	<key>STORAGE_BUCKET</key>
	<string>signup-app-unnamed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37001480729:ios:f90d0217144c2d25e1f888</string>
</dict>
</plist>